@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Ubuntu:wght@700&display=swap');
:root {
    /* --primary-header-color: rgb(255, 255, 255);
    --secondary-header-color: rgb(225, 222, 238);
   
    --base-text-color: rgb(195, 199, 206);
    --background-gradient: linear-gradient(to left, #000536, #120542);
    --primary-accent-color: rgb(126, 217, 208);
    --background-accent-color: rgb(27, 44, 64); */

    --primary-header-color: #f8f9fa;
    --secondary-header-color: rgb(225, 222, 238);
   
    --base-text-color: #adb5bd;
    --background-gradient: #212529;
    --primary-accent-color: #FBFEF9;
    
    --background-accent-color: #0E79B2;
    
    /* --background-accent-color: linear-gradient(to left, #0E79B2, #2449d0); */


    --header-font: 'Ubuntu', sans-serif;
    --base-font: 'Open Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100wv;
    background: var(--background-gradient);
    color: var(--base-text-color);
    font-family: var(--base-font);

}

.container {
    padding: 10px;

}

header {
    padding-block: 20px;
    display: flex;
    flex-direction: column;
}

.header.links {
    display: flex;
}

.



h1 {
    color: var(--primary-header-color);
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--header-font);
}
