@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Ubuntu:wght@700&display=swap');
:root {
    /* --primary-header-color: rgb(255, 255, 255);
    --secondary-header-color: rgb(225, 222, 238);
   
    --base-text-color: rgb(195, 199, 206);
    --background-gradient: linear-gradient(to left, #000536, #120542);
    --primary-accent-color: rgb(126, 217, 208);
    --background-accent-color: rgb(27, 44, 64); */

    --primary-header-color: #f8f9fa;
    --secondary-header-color: rgb(225, 222, 238);
   
    --base-text-color: #adb5bd;
    --background-color: #212529;
    --primary-accent-color: #FBFEF9;
    
    --background-accent-color: #0E79B2;
    
    /* --background-accent-color: linear-gradient(to left, #0E79B2, #2449d0); */


    --header-font: 'Ubuntu', sans-serif;

}


*{
    box-sizing: border-box;

}

body{


    width: 100%;
    background: var(--background-color);
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
}

.container {
    color: var(--base-text-color);
    font-family: 'Open Sans', sans-serif;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
  
}



h1 {
    font-family: var(--header-font);
    font-weight: 200;
    font-size: 2.5rem;
    color: var(--primary-header-color);
    margin-bottom: 5px;

}

h2 {
    margin-top: 0;
    font-size: 0.8rem;
    color: var(--secondary-header-color);
    font-family: var(--header-font);
    font-weight: 600;
    letter-spacing: 0.1rem;
}

a {
    color: var(--base-text-color);
    text-decoration: none;

}

button, .contact-button {
    border: 2px solid var(--primary-accent-color);
    color: var(--primary-accent-color);
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--background-color);
    height: 40px;
    font-family: var(--header-font);
    font-weight: 700;
    box-shadow: 0px 0px 5px 3px  var(--background-accent-color);
    margin-inline: auto;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;

    
}


.header-information {
    max-width: 350px;
}

.header-links {
    justify-content: start;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
svg {
    max-height: 30px;
    width: 30px;
    margin-right: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    

}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 2px solid var(--primary-header-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;

}




.selected-item, .selected-item a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--primary-header-color);
}


.highlight {
    color: var(--primary-header-color);
}


.experience, .project {
    margin-top: 40px;
    width: 100%;

}

.time-span {
    font-size: 0.8rem;
    margin: 0;
}

h3 {
    color: var(--primary-header-color);
    margin-block: 10px;
    font-family: 'Open Sans' sans-serif;
    letter-spacing: 0.1rem;

}

.accent {
    color: var(--primary-accent-color);
    margin-inline: 5px;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}

ul li {
    margin-top: 5px;
}

ul li::marker {
    color: var(--primary-accent-color);

}

.tech-badges {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    color: var(--primary-accent-color);
    background: var(--background-accent-color);
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 0.8em;
}

.project-images{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

 img {
    width: 100px;
    max-height: 100%;
}

.image-horizontal {
    width: 100%;
    height: auto;

}

.section-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: var(--header-font);
    margin-top: 50px;
    font-size: 1rem;
}

.section-header h2{
    margin-bottom: 10px;
 
}

footer{

    display: none;
}

    /* .container{
        border: 1px solid purple;
        
    }
    .content {
        border: 1px solid aqua;
    
    }
    header {
        border: 1px solid yellow;
    } 

    body {
        border: 1px solid white;
    } */

@media only screen and (min-width: 701px) {


    .container {
        display: grid;
        grid-template-columns: 350px 2fr;
        /* grid-template-columns: 1fr 2fr; */
        grid-template-rows: 1fr;

        grid-template-areas: 
            "header content";
        margin: 0 auto;
        /* padding: 0; */
        max-width: 1500px;
        /* padding-block: 0; */

     
    }
    
    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding-inline: 20px;
        
        /* border-right: 1px solid var(--primary-accent-color); */

        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        height: 100vh;
  
    }
 

    .content {
        grid-area: content;
        padding: 20px;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: auto;
      
        
    }

    .content h2, .content section {
        padding-bottom: 20px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        border: none;
        align-items: start;
        justify-content: start;
    }



     footer{
        display: flex;
        position: absolute;
        bottom: 0%;
        /* margin-bottom: 20px; */
        width: 100%;
        /* height: 70px; */
        border-top: var(--primary-accent-color) 1px solid;
        font-size: 0.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-inline: 10px;
        
       
    } 

    footer {
        /* margin: 2px; */
    }

    a:hover,
        nav a:hover{
        color: var(--primary-header-color);
    }

    button:hover,
    .contact-button:hover {
        box-shadow: 0px 0px 5px 7px  var(--background-accent-color);
       
    }

    .project{
        padding: 20px;
        border-radius: 20px;
     
    }

    .project:hover {
        background: #373e45;
        
    }
    
    
}
